body, html  {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  color: #111;
  /* background-color: #2f3032; */
  color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropup-content {
    display: none;
}

#header {
    background-color: rgb(84, 84, 84);
    color: #fafafa;
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    flex: 0 1 auto;
    z-index: 99;
    height:19px;
}

#header a{
    color: #fafafa;
}

.box {
    display: block;
    height: 100%;
}
#terminal-container {
    display: block;
    width: calc(100% - 1 px);
    margin: 0 auto;
    /* padding-top: 2px;
    padding-left: 3px; */
    height: calc(100% - 19px);
}
#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    /* padding: 2px; */
    height: calc(100% - 19px);
}
#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
#bottomdiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    height: 19px;
}
#status {
    background-color: #338c33;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
@keyframes countdown {
    from {
        background-color: rgb(255, 255, 0);
    }
    to {
        background-color: inherit;
    }
}
#menu {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    z-index: 100;
}
#menu:hover .dropup-content {
    display: block;
}
#logBtn, #credentialsBtn, #reauthBtn {
    color: #000;
}