.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
.idea/**
src/**
images/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/
webpack.config.js
tslint.json
.github/
public/
types/
webpack.config.lib.js
tailwind.config.js
backlog.md
i18n.js
postcss.config.js