<div>
    <div class="field field__input">
        <b>host:</b>
        <input class="field__input" v-model="connectionOption.host" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>port:</b>
        <input class="field__input" v-model="connectionOption.port" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>username:</b>
        <input class="field__input" v-model="connectionOption.user" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>password:</b>
        <input class="field__input" type="password" v-model="connectionOption.password" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>database:</b>
        <input class="field__input" placeholder="database, can be empty" v-model="connectionOption.database" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>excludeDatabases:</b>
        <input class="field__input" v-model="connectionOption.excludeDatabases" />
    </div>
</div>
<div>
    <div class="field field__input">
        <b>timezone:</b>
        <input class="field__input" placeholder="+HH:MM" v-model="connectionOption.timezone" />
    </div>
</div>