<div class="field field__input">
    usingSSH:
    <el-switch v-model="connectionOption.usingSSH"></el-switch>
</div>
<div v-if="connectionOption.usingSSH">
    <div class="field field__input">
        <b>ssh-host:</b>
        <input class="field__input" v-model="connectionOption.ssh.host" />
    </div>
    <div class="field field__input">
        <b>ssh-port:</b>
        <input class="field__input" v-model="connectionOption.ssh.port" />
    </div>
    <div class="field field__input">
        <b>ssh-username:</b>
        <input class="field__input" v-model="connectionOption.ssh.username" />
    </div>
    <div>
        <div class="field field__input">
            <b>type:</b>
            <select v-model="type">
                <option value="password">password</option>
                <option value="privateKey">privateKey</option>
            </select>
        </div>
    </div>
    <div v-if="type=='password'">
        <div class="field field__input">
            <b>password:</b>
            <input class="field__input" type="password" v-model="connectionOption.ssh.password" />
        </div>
    </div>
    <div v-if="type=='privateKey'">
        <div>
            <div class="field field__input">
                <b>privateKeyPath:</b>
                <input class="field__input" placeholder="input your private key path" v-model="connectionOption.ssh.privateKeyPath" />
            </div>
        </div>
        <div>
            <div class="field field__input">
                <b>passphrase:</b>
                <input class="field__input" type="passphrase" v-model="connectionOption.ssh.passphrase" />
            </div>
        </div>
    </div>
</div>