<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/element.css">
    <script src="/js/vue.js"></script>
    <script src="/js/element.js"></script>
    <script src="js/g2.min.js"></script>
</head>
<style>
    body {
        /* background-color: var(--vscode-editor-background); */
        background-color: #F7F7F7;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    }
</style>

<body>
    <div id="container">
        <el-tabs v-model="activePanel" @tab-click="changePannel">
            <el-tab-pane label="dashBoard" name="dashBoard">
                <div id="sessions"></div>
            </el-tab-pane>
            <el-tab-pane label="processList" name="processList">
                <el-table :data="process.list" style="width: 100%">
                    <el-table-column :label="field" v-for="(field,index) in process.fields" :key="index" align="center">
                        <template slot-scope="scope">
                            <span v-text='scope.row[field]'></span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>

    </div>
    <script>
        const vscode = typeof (acquireVsCodeApi) != "undefined" ? acquireVsCodeApi() : null;
        const postMessage = (message) => { if (vscode) { vscode.postMessage(message) } }

        const vue = new Vue({
            el: '#container',
            data: {
                activePanel: 'dashBoard',
                process: {
                    fields: [],
                    list: [],
                    lock: false
                },
                dashBoard: {
                    sessions: [],
                    sessionChart: null,
                    lock: false,
                }
            }, methods: {
                sendLoadProcessList() {
                    postMessage({ type: 'processList' })
                },
                sendLoadDashBoard() {
                    if (this.dashBoard.lock) return;
                    this.dashBoard.lock = true;
                    postMessage({ type: 'dashBoard' })
                },
                changePannel() {
                    switch (this.activePanel) {
                        case 'processList':
                            this.sendLoadProcessList()
                            break;
                        case 'dashBoard':
                            this.sendLoadDashBoard()
                            break;
                    }
                }
            }
        })

        window.addEventListener('message', ({ data }) => {
            switch (data.type) {
                case "processList":
                    vue.process.fields = data.fields
                    vue.process.list = data.list
                    break;
                case "dashBoard":
                    vue.dashBoard.sessions.push(...data.session)
                    if (!vue.dashBoard.sessionChart) {
                        const sessionChart = new G2.Chart({
                            container: 'sessions',
                            autoFit: false,
                            width: 600,
                            height: 300
                        })
                        sessionChart.data(vue.dashBoard.sessions);
                        sessionChart.line().position('now*value')
                            .color('type')
                            .size(2);
                        sessionChart.render();
                        vue.dashBoard.sessionChart = sessionChart
                    } else {
                        if (vue.dashBoard.sessions.length >= 30) {
                            vue.dashBoard.sessions.shift()
                            vue.dashBoard.sessions.shift()
                            vue.dashBoard.sessions.shift()
                        }
                        vue.dashBoard.sessionChart.changeData(vue.dashBoard.sessions);
                    }
                    vue.dashBoard.lock = false
                    break;
            }
        })

        postMessage({ type: 'init' })
        vue.sendLoadProcessList()
        vue.sendLoadDashBoard()
        setInterval(() => {
            vue.sendLoadProcessList()
        }, 1000);
        setInterval(() => {
            vue.sendLoadDashBoard()
        }, 3000);
    </script>
</body>

</html>