:root {
  --umy-border-color: var(--vscode-quickInputTitle-background);
  --umy-input-color: var(--vscode-menu-foreground);
}

/**
https://www.umyui.com/
*/


/* checkbox color */

.plx-checkbox--unchecked-icon:before{
  background-color: var(--vscode-editor-background) !important;
  border:1px solid var(--border-color) !important;
  border-radius: 2px !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner,
.is--checked.plx-custom--option .plx-checkbox--icon:before, .is--checked.plx-custom--panel-column-option .plx-checkbox--icon:before, .is--checked.plx-export--panel-column-option .plx-checkbox--icon:before, .is--checked.plx-table--filter-option .plx-checkbox--icon:before, .is--indeterminate.plx-custom--option .plx-checkbox--icon:before, .is--indeterminate.plx-custom--panel-column-option .plx-checkbox--icon:before, .is--indeterminate.plx-export--panel-column-option .plx-checkbox--icon:before, .is--indeterminate.plx-table--filter-option .plx-checkbox--icon:before, .plx-table .is--checked.plx-cell--checkbox .plx-checkbox--icon:before, .plx-table .is--indeterminate.plx-cell--checkbox .plx-checkbox--icon:before{
  border-color: var(--border-color) !important;
  background-color: var(--vscode-editor-background) !important;
}

.plx-custom--option .plx-checkbox--checked-icon:after, .plx-custom--panel-column-option .plx-checkbox--checked-icon:after, .plx-export--panel-column-option .plx-checkbox--checked-icon:after, .plx-table .plx-cell--checkbox .plx-checkbox--checked-icon:after, .plx-table--filter-option .plx-checkbox--checked-icon:after{
  border-color: var(--primary-color);
}

.el-checkbox__input.is-checked + .el-checkbox__label{
 color: var(--primary-color); 
}

/* focus color */

:root {
  --umy-focus-color: var(--vscode-terminal-ansiBlue);
}
.el-textarea__inner:focus,.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: var(--umy-focus-color) !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: var(--umy-focus-color) !important;
}

/* contents color */

.el-input.is-disabled input {
  border: none !important;
  user-select: all;
}

.plx-header--column.col--ellipsis > .plx-cell .plx-cell--title {
  font-weight: 400;
}

.plx-cell--checkbox.is--disabled{
  display: none;
}

.col--index{
  color: var(--vscode-charts-green);
}

.plx-cell .el-input input {
  padding: 10px;
}

.plx-edit-icon {
  display: none;
}

.plx-cell--title{
 width: 100%; 
}

.title-info,
.plx-cell--title .column-name{
  user-select: all;
}

.plx-cell,
.plx-cell--title{
  text-overflow: unset !important;
}

.cell {
  overflow: hidden !important;
  text-overflow: unset !important;
  white-space: nowrap !important;
  user-select: text !important;
  padding: 1px !important;
}


.plx-cell {
  padding: 0px !important;
  text-align: center !important;
}

.plx-table--body .el-input__inner {
  line-height: 35px !important;
  height: 35px !important;
}

.plx-cell span {
  margin: auto !important;
  line-height: 16px;
}
.plx-cell .column-type{
  color:var(--vscode-input-placeholderForeground);
}

.plx-table.size--small .plx-cell--checkbox .plx-checkbox--icon,
.plx-table .plx-cell--checkbox .plx-checkbox--icon:before {
  height: 1.3em !important;
  width: 1.3em !important;
}


.plx-body--column.col--edit,
.plx-body--column.col--index,
.plx-body--column.col--checkbox,
  /* header */
.plx-table .plx-table--header-wrapper .plx-table--header-border-line {
  border: 1px solid var(--umy-border-color) !important;
}

.plx-table .plx-table--fixed-left-wrapper,
.plx-body--column, .plx-header--column {
  background: none !important;
  border: 1px solid var(--umy-border-color) !important;
  border-left: none !important;
  border-right: none !important;
}


/* result outline */
.plx-table .plx-table--border-line,
  /* filter */
.plx-body--column .edit-filter input {
  border: none !important;
}

.edit-filter .el-input__inner::placeholder,
.null-column {
  color: var(--vscode-titleBar-inactiveForeground);
  font-weight: 400;
}

/* table edit input */
.plx-body--column.col--actived input {
  border-color: var(--vscode-editor-foreground) !important;
}

.col--gutter,
.plx-table.border--full .plx-table--header-wrapper,
.plx-table--body-wrapper {
  background: var(--vscode-editor-background) !important;
}

.plx-table .plx-body--row {
  background: var(--vscode-editor-background) !important;
  color: var(--second-color) !important;
}

.plx-table .plx-body--row.row--stripe, .plx-table .plx-header--row {
  background: var(--vscode-editorSuggestWidget-background) !important;
  color: var(--second-color) !important;
}

.plx-table .plx-body--row.row--hover,
.plx-table .plx-body--row.row--cheched,
.plx-table .plx-body--row.row--current {
  background: var(--vscode-tab-hoverBackground) !important;
  color: var(--second-color) !important;
}

.el-pagination__total {
  margin-right: 10px;
  font-weight: 400;
  color: var(--second-color);
}

/* el-table border  */
.el-table,.el-table td,.el-table th{
border-color: var(--border-color) !important;
}
.el-table::before{
  display: none;
}